@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --black: #000004;
  --white: #f3f3f3;
  --font-color: #f9f9f9;
  --font-gray: rgb(133, 128, 128);
  --background-black: #101111;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-black);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #41433e #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #41433e;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #7e8179;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #888d82;
}

h2,
span {
  color: var(--white);
}

h2 {
  font-size: clamp(2.5rem, 10vw, 3rem);
}

p {
  color: var(--font-color);
  font-size: clamp(0.9rem, 10vw, 1rem);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 0 10rem !important;
  max-width: 1440px !important;
  margin: 10rem auto !important;
}
/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: -1px 4px 5px 0px rgb(24, 24, 24);
  background-color: rgb(20, 20, 20);
  z-index: 99;
}

.logo {
  font-weight: 800;
  color: var(--white);
  font-size: 1.2rem;
}

.right__header nav ul {
  display: flex;
  align-items: center;
}

.right__header nav ul li a {
  padding: 0 1rem;
  color: var(--white);
  font-weight: 600;
  font-size: 0.825rem;
}

.right__header nav ul li a:hover {
  color: var(--font-color);
}

/* HERO */

main {
  max-width: 1440px;
  padding: 8.5rem 5rem 0 5rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  background: #41433e;
  background: linear-gradient(to right, #41433e 0%, #d8d2d2da 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left__main h1 {
  line-height: 55px;
  /* font-size: 3.7rem; */
  font-size: clamp(2rem, 10vw, 3.7rem);
}

.left__main p {
  margin-top: 2rem;
  max-width: 400px;
  color: var(--font-color);
}

.right__main img {
  animation: morph 8s ease-in-out infinite;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: 3px solid #41433e;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* TECH */

.tech__stack__container {
  padding: 3rem 6rem 0 6rem;
}

.tech__stack {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.tech__stack span {
  font-size: 1.1rem;
}

.tech__stack img {
  cursor: pointer;
  transition: 200ms;
}

.tech__stack img:hover {
  transition: 200ms;
  transform: translateY(-1rem);
}

.tech__flex {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.tech__flex > div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
/* ABOUT */

.about__container {
  margin: 12rem auto 0 auto;
  display: flex;
  align-items: center;
  padding: 0 10rem !important;
  justify-content: space-between;
}

.left__about {
  width: 40%;
  background: url("https://images.unsplash.com/photo-1542546068979-b6affb46ea8f?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center;
  background-size: cover;
  position: relative;
  height: 400px;
  filter: brightness(0.7);
  border-radius: 10px;
}

.left__about .memoji {
  position: absolute;
  width: 250px;
  bottom: -5rem;
  left: -6rem;
  height: 250px;
}

.right__about {
  width: 50%;
  padding: 3rem 3rem 3rem 0;
  border-radius: 30px;
}

.right__about > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right__about span {
  font-size: 3rem;
}

.right__about p {
  margin-top: 1.5rem;
  font-size: 1rem;
}

/* PROJECTS */
.projects__header {
  margin-bottom: 5rem;
}

.projects__header div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.projects__header span {
  font-size: 3rem;
}

.quote {
  font-size: 1rem !important;
  font-weight: 500;
}

.projects__main__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.projects {
  background-color: var(--background-black);
  box-shadow: 0px 0px 5px 0px rgb(24, 24, 24);
  border-radius: 20px;
}

.projects__web__container {
  display: flex;

  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

/* .left__project {
  display: flex;

  gap: 2rem;
} */

.left__project img {
  border-radius: 10px;
  max-width: 500px;
  height: 100%;
}

.right__project {
  float: right;
}

.right__project h3 {
  font-size: clamp(1.2rem, 10vw, 2rem);
}

.right__project p {
  margin-top: 2rem;
}

.project__links {
  margin-top: 1rem;
}

.project__links a {
  box-shadow: 0px 0px 5px 0px rgb(24, 24, 24);
  display: inline-block;
  padding: 0.8rem;
  border-radius: 5px;
  color: var(--font-color);
  transition: 200ms;
  font-size: 0.925rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  max-width: 140px;
  font-weight: 500;
}

.project__links a img {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.project__links a:hover {
  box-shadow: 0px 0px 5px 0px rgba(133, 129, 129, 0.712);
  transition: 200ms;
}

.project__techstack {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  gap: 0.8rem;
}

.right__project span {
  font-size: 0.8rem;
}

.project__techstack img {
  width: 35px;
  height: 35px;
}

/* CONTACTS */

.contacts__header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contacts__header div span {
  font-size: 3rem;
}

.contacts {
  margin-top: 3rem;
}

.contacts > div {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.2rem;
}

.contacts > div:nth-child(2) {
  margin-top: 2rem;
}

.contact__email {
  display: flex;
  flex-direction: column;
}

.contact__email span {
  font-size: 1rem;
  color: var(--font-gray);
}

.contact__email span:nth-child(1) {
  color: var(--font-color);
}

.contact__icon {
  width: 40px;
  height: 40px;
  color: var(--font-color);
}

/* FOOTER */

footer {
  padding: 3rem 5rem;
  background-color: var(--background-black);
  box-shadow: -1px -5px 5px 0px rgb(24, 24, 24);
}

footer div {
  text-align: center;
}

footer p {
  margin-top: 0.5rem;
  color: var(--font-gray);
}

/* HAMBURGER */

/* Hide the default checkbox */
.hamburger__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.hamburger__container {
  display: none;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
}

.checkmark span {
  width: 32px;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}

.hamburger__container input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.hamburger__container input:checked + .checkmark span:nth-child(2) {
  top: 50%;

  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

.hamburger__container input:checked + .checkmark span:nth-child(3) {
  opacity: 0;
}

@media screen and (max-width: 1060px) {
  section {
    padding: 0 3rem !important;
  }

  .tech__stack__container {
    padding: 3rem 0;
  }

  .about__container {
    flex-direction: column;
    padding: 0 5rem !important;
  }

  .left__about {
    width: 100%;
  }

  .right__about {
    width: 100%;
    padding: 3rem 1rem 1rem 1rem;
  }

  .projects__web__container {
    flex-direction: column !important;
  }

  .left__project img {
    width: 100%;
  }

  .project__techstack img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 850px) {
  header {
    padding: 1rem 3rem;
  }

  main {
    padding: 8.5rem 3rem 0 3rem;
  }

  .hero__container {
    flex-direction: column-reverse;
    gap: 5rem;
  }

  .left__main p {
    max-width: none;
  }
}

@media screen and (max-width: 700px) {
  section {
    padding: 0 2rem !important;
  }

  .hamburger__container {
    display: block;
  }

  .right__header nav ul {
    position: fixed;
    right: -20rem;
    background-color: rgb(20, 20, 20);
    padding: 0;
    top: 3.8rem;
    bottom: 0;
    align-items: start;

    transition: 800ms ease-in-out;
  }

  .right__header nav ul.active {
    right: 0;
    padding-right: 10rem;
    transition: 800ms ease-in-out;
    box-shadow: 0px 402px 5px 400px rgba(0, 0, 0, 0.75);
  }

  .right__header nav ul li {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
  }

  .right__header nav ul li a {
    padding: 1rem 0;
    font-size: 1.2rem;
  }

  .tech__flex {
    flex-direction: column;
    gap: 1rem;
  }

  .left__main h1 {
    line-height: 45px;
    /* font-size: 3.2rem; */
  }

  .about__container {
    padding: 0 2rem !important;
  }

  .right__about {
    padding: 3rem 0;
  }

  p {
    font-size: 0.925rem;
  }

  .tech__stack {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  main,
  section {
    padding: 8rem 2rem 0 2rem;
  }

  header {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 400px) {
  .right__main img {
    width: 300px;
    height: 300px;
  }

  footer {
    padding: 3rem 2rem;
  }
}
